.wrapper {
  margin: 0 auto;
  width: 960px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  line-height: 150%;
}

h1 {
  padding-top: 20px;
  text-align: center;
  color: #fccef3;
}

a {
  text-decoration: none;
  color: #fccef3
}

.menu ul li {
  display: inline-block;
  padding-right: 100px;
}

.menu ul {
  padding: 10px 0 10px 0;
  text-align: center;
  border-bottom: 1px solid #fccef3;
}

.photo{
  padding-left: 40px;
}
.contacts ul {
  padding:0 0 0 300px;
  margin-top: -150px;
  margin-bottom: 100px;
  list-style-type: none;
  line-height: 150%;
}

p{
  padding: 0 20px 0 40px;
}

.color-word{
  font-weight: bold;
  color: #fccef3;
}

h2 { 
  border-bottom:1px solid #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #fccef3;
  color: #000000;
}

.education ul{
  list-style-type: none;
}

.footer-1 ul{
  border-top: 1px solid #fccef3;
  text-align: center;
  padding-top: 20px;
  list-style-type: none;
  color: #fccef3;
}